[Desktop Entry]
Version=1.0
Exec=/home/pi/PiGro/start.sh
Name=PiGro+Aid+
GenericName=PiGro+Aid+
Comment=Things And Stuff
Encoding=UTF-8
Terminal=false
Type=Application
Categories=System
Icon=/home/pi/PiGro/raspi-aid.png
Name[de_DE]=PiGro+Aid+.desktop
