[Desktop Entry]
Version=2.1
Exec=/home/pi/PiGro-Aid-/start.sh
Name=PiGro
GenericName=PiGro
Comment=The Lord Of System Config
Encoding=UTF-8
Terminal=false
Type=Application
Categories=System
Icon=/home/pi/PiGro-Aid-/icons/pigro_spalsh.png
Name[de_DE]=PiGro - Just Click It
Path=/home/pi/PiGro-Aid-/
