[Desktop Entry]
Version=2.1
Exec=~/PiGro-Aid-/start.sh
Name=PiGro
GenericName=PiGro
Comment=The Lord Of System Config
Encoding=UTF-8
Terminal=false
Type=Application
Categories=System
Icon=~/PiGro-Aid-/icons/PiGroLogoslim.png
Name[de_DE]=PiGro - Just Click It
